*.png
data
*.bib*
*.mp4
**/*/target
build
.vscode
rust/cell_data/target/.rustc_info.json
rust/cell_data/target/debug/cell_data.d
rust/cell_data/target/debug/cell_data.exe
rust/cell_data/target/debug/cell_data.pdb
rust/cell_data/target/debug/.fingerprint/cell_data-1948f0fb11523960/bin-cell_data
rust/cell_data/target/debug/.fingerprint/cell_data-1948f0fb11523960/bin-cell_data.json
rust/cell_data/target/debug/.fingerprint/cell_data-1948f0fb11523960/dep-bin-cell_data
rust/cell_data/target/debug/.fingerprint/cell_data-1948f0fb11523960/output-bin-cell_data
rust/cell_data/target/debug/.fingerprint/cell_data-6e6b98395a63cda3/dep-test-bin-cell_data
rust/cell_data/target/debug/.fingerprint/cell_data-6e6b98395a63cda3/output-test-bin-cell_data
rust/cell_data/target/debug/.fingerprint/cell_data-fbc8816b5ab6df20/dep-bin-cell_data
rust/cell_data/target/debug/.fingerprint/cell_data-fbc8816b5ab6df20/output-bin-cell_data
rust/cell_data/target/debug/build/font-kit-8caa05c522344fc8/build_script_build-8caa05c522344fc8.exe
rust/cell_data/target/debug/build/font-kit-8caa05c522344fc8/build_script_build-8caa05c522344fc8.pdb
rust/cell_data/target/debug/build/font-kit-8caa05c522344fc8/build_script_build.pdb
rust/cell_data/target/debug/build/font-kit-8caa05c522344fc8/build-script-build.exe
rust/cell_data/target/debug/build/ndarray-f1e525bb4b6b0175/build_script_build-f1e525bb4b6b0175.exe
rust/cell_data/target/debug/build/ndarray-f1e525bb4b6b0175/build_script_build-f1e525bb4b6b0175.pdb
rust/cell_data/target/debug/build/ndarray-f1e525bb4b6b0175/build_script_build.pdb
rust/cell_data/target/debug/build/ndarray-f1e525bb4b6b0175/build-script-build.exe
rust/cell_data/target/debug/build/pathfinder_simd-2982a45654ce592c/build_script_build-2982a45654ce592c.exe
rust/cell_data/target/debug/build/pathfinder_simd-2982a45654ce592c/build_script_build-2982a45654ce592c.pdb
rust/cell_data/target/debug/build/pathfinder_simd-2982a45654ce592c/build_script_build.pdb
rust/cell_data/target/debug/build/pathfinder_simd-2982a45654ce592c/build-script-build.exe
rust/cell_data/target/debug/build/semver-7f9db7a6f5f3af21/build_script_build-7f9db7a6f5f3af21.exe
rust/cell_data/target/debug/build/semver-7f9db7a6f5f3af21/build_script_build-7f9db7a6f5f3af21.pdb
rust/cell_data/target/debug/build/semver-7f9db7a6f5f3af21/build_script_build.pdb
rust/cell_data/target/debug/build/semver-7f9db7a6f5f3af21/build-script-build.exe
rust/cell_data/target/debug/deps/cell_data-6e6b98395a63cda3.d
rust/cell_data/target/debug/deps/cell_data-fbc8816b5ab6df20.d
rust/cell_data/target/debug/deps/cell_data.d
rust/cell_data/target/debug/deps/cell_data.exe
rust/cell_data/target/debug/deps/cell_data.pdb
rust/cell_data/target/debug/deps/libpathfinder_geometry-ac004d68c9287722.rlib
rust/cell_data/target/debug/deps/libpathfinder_simd-1b5789bcec50c35b.rlib
